<div class="flex justify-center">
    <h1 class="text-3xl">Social Stat</h1>

</div>

<button (click)="startSseStream()">START</button>
<button (click)="stopSseStream()">STOP</button>

<mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let network of socialNetworks" [label]="network">
        <div class="container mx-auto">
            <div *ngIf="getData(network); else noData">
                <app-chart></app-chart>
                <h3 class="text-center">Activity by day and hour</h3>
            </div>
            <ng-template #noData>
                <div class="text-center pt-12">
                    No data, please wait...
                </div>
            </ng-template>
        </div>
    </mat-tab>
</mat-tab-group>
